[build]
builder = "nixpacks"
buildCommand = """
composer install --optimize-autoloader --no-interaction && \
npm ci && \
npm run build
"""

[deploy]
preDeployCommand = """
composer dump-autoload &&
php artisan optimize:clear &&
php artisan migrate --force &&
npm ci && npm run build
"""

startCommand = "npx concurrently \"php artisan serve --host=0.0.0.0 --port=${PORT}\" \"php artisan reverb:start --host=0.0.0.0 --port=8080\" \"php artisan queue:work --tries=2\""
