[build]
builder = "nixpacks"
buildCommand = """
composer install --optimize-autoloader --no-interaction && \
npm ci && \
npm run build
"""

[deploy]
preDeployCommand = """
composer dump-autoload &&
php artisan optimize:clear &&
npm ci && npm run build
"""

startCommand = "php artisan serve --host=0.0.0.0 --port ${PORT}"
