[build]
builder = "nixpacks"
buildCommand = """
composer install --optimize-autoloader --no-interaction && \
npm ci && \
npm run build
"""

[deploy]
preDeployCommand = """
php artisan migrate --force &&
npm ci && npm run build
"""

startCommand = "npx concurrently \"php artisan serve --host=0.0.0.0 --port ${PORT}\" \"php artisan reverb:start\" "
