[build]
builder = "nixpacks"
env = { NIXPACKS_NODE_VERSION = "22", NPM_CONFIG_FUND = "false", COMPOSER_FUND = "0" }
buildCommand = """
composer install --optimize-autoloader --no-interaction && \
npm ci && \
npm run build
"""

[deploy]
preDeployCommand = """
composer dump-autoload &&
php artisan optimize:clear &&
php artisan migrate --force &&
npm ci && npm run build
"""

startCommand = "npx concurrently \"php artisan serve --host=0.0.0.0 --port=8000\" \"php artisan reverb:start --host=0.0.0.0 --port=80\" \"php artisan queue:work --tries=2\""

healthcheckPath = ""
